BorderPane {
  -fx-background-color: #ffffff;
  -fx-pref-width: 800;
  -fx-pref-height: 550;
  -fx-effect: innershadow(gaussian, rgba(0, 0, 0, 0.15), 10, 0, 0, 0);
}

Text {
  -fx-font-family: "Arial";
  -fx-font-size: 14pt;
  -fx-text-fill: #000000;
  -fx-min-height: 0;
  -fx-min-width: 0;
}

Pane {
  -fx-pref-height: 7;
  -fx-max-height: 7;
  -fx-min-height: 7;
  -fx-background-color: linear-gradient(to bottom right, #AB63E2, #632EDD);
}