
.label {
  -fx-font-family: "Roboto";
  -fx-font-size: 12pt;
  -fx-font-weight: 500;
  -fx-text-fill: #000000;
}

.label.revealed {
  -fx-text-fill: #717171;
}

.borderPane {
  -fx-background-color: transparent;
}

.borderPane:hover {
  -fx-background-radius: 5;
  -fx-background-color: #00000010;
}

.borderPane:pressed {
  -fx-background-radius: 5;
  -fx-background-color: #00000020;
}

/* Buttons */

.copyButton {
  -fx-background-color: transparent;
  -fx-background-radius: 20;

  -fx-font-family: "Roboto";
  -fx-font-size: 10pt;
  -fx-font-weight: 800;
  -fx-text-fill: #000000;
}

.copyButton:hover {
  -fx-background-color: rgb(255, 255, 255);
  -fx-cursor: hand;
}

.copyButton:pressed {
  -fx-background-color: rgba(0, 0, 0, 0.15);
}

.deleteButton {
  -fx-background-color: #da2121;
  -fx-background-radius: 20;

  -fx-font-family: "Roboto";
  -fx-font-size: 10pt;
  -fx-font-weight: 800;
  -fx-text-fill: #FFFFFF;
}

.deleteButton:hover {
  -fx-background-color: #ec2525;
  -fx-cursor: hand;
}

.deleteButton:pressed {
  -fx-background-color: #d12121;
}
